* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* box2 */
.add-first {
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-seclet {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}

.search-input {
    width: 500px;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search {
    border: 2px solid #febd68;

}

/* box 4 */
span {
    font-size: 0.87rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */
.nav-cart i {
    font-size: 35px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 19px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section {
    background-image: url(/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85;
    width: 80%;
    margin-bottom: 25px;
    /* bottom: 25px; */
    /* position: relative; */
}

.hero-msg a {
    color: #007185;
}

/* shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    background-color: #cae0dc;
}

.box {
    border: 0.0rem solid black;
    height: 300px;
    width: 22%;
    background-color: white;
    padding: 10px 0px 10px;
    margin-top: 15px;
}

.box-img {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: 1rem; */
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

/* Footer */
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50%;
    width: 1519px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.85;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copyright {
    font-size: 0.7rem;
    text-align: center;
    padding: 5px;

}